body {
  background: #d8dcd0;
}

#container {
  background: url(../images/bleed_page.png) repeat;
  width: 80%;
  margin: auto;
}

#main,#header,#footer {
  width: 95%;
  margin: auto;
}

/*header */
#header .wb-da-logo {
  background-color: #2B292A;
  height: 42px;
}
#header a.wb-da-logo {
  height: 42px;
  width: 178px;
  float: left;
  background: transparent url(../images/WB-LOGO-EN.gif) no-repeat;
}
#header .title-logo {
  float: left;
  color: #fff;
  margin-left: 5px;
  line-height: 42px;
  font-weight: bold;
}
#header .login_conner {
  float: right;
  margin-right: 10px;
}
#header .login_conner ul li {
  list-style: none;
  line-height: 30pt;
}
#header .login_conner ul li a {
  color: #fff;
}
#header .login_conner ul li a:hover {
  color: #b0e0e6;
  text-decoration: none;
}
#header .nav-bar {
  height: 30pt;
}
#header .nav-bar li {
  list-style: none;
  width: 90pt;
  line-height: 30pt;
  font-size: 10pt;
}
#header .nav-bar li a {
  color: #777;
  font-weight: bold;
}
#header .nav-bar li a:hover {
  color: #222;
  text-decoration: none;
}

/* main wraper */
/* #main { margin-top: -20px; } */
a.clear { 
  line-height: 40pt;
  color: #900; }
#main h3 {
  height: 40px;
  line-height: 40px;
  background-color: #8a0000;
  color: #fff;
  padding-left: 10px;
  margin-bottom: -10px;
}
#main .wraper {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
#main .wraper .form-group {
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}
#main .imfomation-search,.info-cal {
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
}
#main .imfomation {
  height: 80pt;
  border-bottom: 1.5pt solid #900;
}
#main .imfomation h4 {
  margin-left: 10pt;
  padding-top: 10pt;
  font-size: 15pt;
}
#main .search_wraper .col-sm-2 {
  width: 11%;
}
#main .search_wraper {
  background-color: #f5f5f5;
  height: 50px;
}
#main .search_wraper .search-btn {
  height: 17pt;
  width: 20pt;
  background:transparent url(../images/got-btn-magnifylens.gif) no-repeat;
  position: relative;
  top: 10pt;
}
#main .search_wraper .search-text {
  height: 26pt;
  width: 170pt;
}
#main .search_wraper .form-group-1 { line-height: 50px; }
#main .search_wraper .form-group-1 .col-sm-3 { margin-top: 7px; }
#main .search_wraper .form-group-2 .col-sm-2 { line-height: 50px; }
#main .search_wraper .form-group-3 { line-height: 46px; }
#main .search_wraper .form-group-2 .col-sm-3 { margin-top: 7px; width: 20%; }
#main .home-content .chart-2 {
  background: transparent url(../images/chart2.png) no-repeat;
  height: 301px;
  width: 400px;
}
#main .admin-login .col-md-4 { margin-left: 30%; }
#main .admin-login .btn { margin-top: 10pt; }
#main .caculation-content {
  width: 20%;
  height: 150pt;
  border: 1pt solid #d0d0d0;
  border-radius: 5px;
  background: #f5f5f5;
  font-size: 11pt;
}
#main .refine-by .row { background: #8a0000; color: #fff; margin-bottom: 10px; }
#main .refine-by .row h5 { margin-left: 5px; font-weight: bold; }
#main .refine-by .col-lg-8 { margin-bottom: 10px; }

/* footer */
#footer {
  height: auto !important;
  clear: both;
}
.clear-fix {
  height: 20pt;
}
#footer .wbg-footer-logo {
  float: left;
  height: 33px;
  margin: 16px;
  width: 162px;
  background: transparent url(../images/wbg-footer-en.gif) no-repeat;
}
#footer .footer-content {
  height: 100px;
  background-color : #f5f5f5;
}
#footer .copyright {
    height: 30px;
    line-height: 30px;
    margin: auto;
    border-top: 1px solid rgb(210, 210, 210);
    width: 920px;
    clear: both;
}